<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sdkVersion</key>
	<string>1.1.0</string>
	<key>cn</key>
	<dict>
		<key>baseLogin</key>
		<string>https://login.q1.com</string>
		<key>basePaycheck</key>
		<string>https://api-paycheck.q1.com</string>
		<key>basePayment</key>
		<string>https://p-m.q1.com</string>
		<key>baseRegister</key>
		<string>https://passport.q1.com</string>
		<key>baseReport</key>
		<string>https://appdata.q1.com</string>
		<key>userProtocol</key>
		<string>https://www.q1.com/UserProtocol.html</string>
	</dict>
	<key>debug</key>
	<dict>
		<key>baseLogin</key>
		<string>http://login.4g.q1.com:800</string>
		<key>basePaycheck</key>
		<string>http://api-paycheck.4g.q1.com:800</string>
		<key>basePayment</key>
		<string>http://pay.yy.4g.q1.com:800</string>
		<key>baseRegister</key>
		<string>http://passport.4g.q1.com:800</string>
		<key>baseReport</key>
		<string>http://appdata.4g.q1.com:800</string>
		<key>userProtocol</key>
		<string>http://www.szg1a.net/UserProtocol.html</string>
	</dict>
	<key>ea</key>
	<dict>
		<key>baseLogin</key>
		<string>https://login-ea.q1.com</string>
		<key>basePaycheck</key>
		<string>https://paycheck-ea.q1.com</string>
		<key>basePayment</key>
		<string>https://p-m-ea.q1.com</string>
		<key>baseRegister</key>
		<string>https://passport-ea.q1.com</string>
		<key>baseReport</key>
		<string>https://appdata-ea.q1.com</string>
		<key>userProtocol</key>
		<string>https://www.q1.com/ea/UserProtocol.html</string>
	</dict>
	<key>review</key>
	<dict>
		<key>baseLogin</key>
		<string>https://login-review.q1.com</string>
		<key>basePaycheck</key>
		<string>https://paycheck-review.q1.com</string>
		<key>basePayment</key>
		<string>https://p-m-review.q1.com</string>
		<key>baseRegister</key>
		<string>https://passport-review.q1.com</string>
		<key>baseReport</key>
		<string>https://appdata-review.q1.com</string>
		<key>userProtocol</key>
		<string>https://www-review.q1.com/UserProtocol.html</string>
	</dict>
	<key>sa</key>
	<dict>
		<key>baseLogin</key>
		<string>https://login-sa.q1.com</string>
		<key>basePaycheck</key>
		<string>https://paycheck-sa.q1.com</string>
		<key>basePayment</key>
		<string>https://p-m-sa.q1.com</string>
		<key>baseRegister</key>
		<string>https://passport-sa.q1.com</string>
		<key>baseReport</key>
		<string>https://appdata-sa.q1.com</string>
		<key>userProtocol</key>
		<string>https://www.q1.com/sa/UserProtocol.html</string>
	</dict>
</dict>
</plist>
